<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Aditi Bhatia**<br>
Current Occupation: Student
Desired Occupation: Data Scientist

*I am interested in data science because i love to ask questions and find out new facts and relations among events. I believe i am a very curious person with good creative thinking, visualization and communication skills.*

### My code is supposed to define two numeric variables and multiply them

In [3]:
a=5
b=10
c=a*b
c

50

<a href="google.com"> a tag used in jupyter </a>

horizontal rule using 3 dashes
--- 
it worked yay

| Id | Label    | Price |
|--- |----------| ------|
| 01 | CAR EXP  |\$1600 |
| 02 | TOY      |  \$12 |
| 03 | NF BOOK  | \$999 |